<!-- file: mapping.launch -->
<launch>
  <!-- 1. Robot state publishers -->
  <include file="$(find kora_k3)/launch/k3_state.launch"/>

  <!-- 2. Wheel odometry and localization stack -->
  <include file="$(find kora_k3)/launch/wheel_odom.launch"/>

  <!-- 3. SLAM Toolbox asynchronous mapper -->
  <include file="$(find kora_k3)/launch/amcl.launch"/>
</launch>
